/_ngo
/bitgen.xmsgs
/map.xmsgs
/ngdbuild.xmsgs
/par.xmsgs
/trce.xmsgs
/xst.xmsgs
/core.bld
/core.cmd_log
/core.lso
/core.ngc
/core.ngd
/core.ngr
/core.prj
/core.stx
/core.syr
/core.xst
/core_map.map
/core_map.mrp
/core_ngdbuild.xrpt
/core_summary.html
/core_xst.xrpt
/main.bgn
/main.bld
/main.cmd_log
/main.drc
/main.lso
/main.mcs
/main.ncd
/main.ngc
/main.ngd
/main.ngr
/main.pad
/main.par
/main.pcf
/main.prj
/main.prm
/main.ptwx
/main.stx
/main.syr
/main.twr
/main.twx
/main.unroutes
/main.ut
/main.v.cmd_log
/main.v.prj
/main.v.stx
/main.v.syr
/main.v.xst
/main.v_summary.html
/main.v_xst.xrpt
/main.xpi
/main.xst
/main_envsettings.html
/main_map.map
/main_map.mrp
/main_map.ncd
/main_map.ngm
/main_map.xrpt
/main_ngdbuild.xrpt
/main_pad.csv
/main_pad.txt
/main_par.xrpt
/main_preroute.twr
/main_preroute.twx
/main_summary.html
/main_summary.xml
/main_usage.xml
/main_xst.xrpt
/planAhead_run_1
/planAhead_run_2
/usage_statistics_webtalk.html
/webtalk.log
/webtalk_pn.xml
/xlnx_auto_0_xdb
/xst
/output.bit
